<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center" >Something went wrong! </h1>
    <h2 class="text-center" >Our Engineers are on it</h2>
    <img src="../static/images/repair.png" th:src="@{images/repair.png}" alt="Repair Icon"/>
    <div>
    <a class="text-center" href="index">Go Home</a>
    </div>
  </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>