<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div style="height: 20rem; background-color: black">
                <div class="position-relative start-50 top-50 translate-middle">
                    <h1 class="text-center">Dating 4 U(nicorns)</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="height: 40rem; background-color: saddlebrown">
                <div style="height: 10rem">
                    <div class="position-relative start-50 top-50 translate-middle">
                        <h2 class="text-center">Login / Registrierung</h2>
                    </div>
                </div>
                <div style="height: 5rem">
                    <label class="position-relative start-50 top-50 translate-middle">
        <textarea style="width: 20rem; resize: none; vertical-align: middle" class="text-left">
            Email
        </textarea>
                    </label>
                    <br><br>
                    <label class="position-relative start-50 top-50 translate-middle">
        <textarea style="width: 20rem; resize: none;" class="text-left">
            Password
        </textarea>
                    </label>
                    <br>
                    <button type="submit" class="btn btn-primary position-relative start-50 top-50 translate-middle">
                        Weiter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>