<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div th:if="${change}==true" class="alert alert-success">
    Profile updated!
</div>
<!-- TODO make it interational or german-->
<div th:block th:if="${change}==false">
    <div th:if="${#lists.contains(errorFields, 'nickname')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a text in NICKNAME. This field can not be empty'">
    </div>
    <div th:if="${#lists.contains(errorFields, 'birthdate')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a valid GEBURTSTAG in form of dd-mm-yy. This field can not be empty'">
    </div>
    <div th:if="${#lists.contains(errorFields, 'hornlength')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a valid number >=0 in HORNLÄNGE. This field can not be empty'">
    </div>
    <div th:if="${#lists.contains(errorFields, 'gender')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a valid gender number (0=divers, 1=male, 2=female) in GESCHLECHT. This field can not be empty'">
    </div>
    <div th:if="${#lists.contains(errorFields, 'attrectedTo')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a valid number (0=divers, 1=male, 2=female) in ATTRACTED TO. This field can not be empty'">
    </div>
    <div th:if="${#lists.contains(errorFields, 'discription')}" class="alert alert-error"
         data-th-text="'Profile update error: '+'You must enter a text in BESCHREIBUNG. This field can not be empty'">
    </div>
</div>
<form class="p-3" data-th-object="${profile}" data-th-action="@{/saveProfile}" method="post">
    <input type="text" data-th-field="*{id}" hidden>

    <div class="mb-3">
        <label for="nicknameInput" class="form-label">Nickname</label>
        <input type="text" data-th-field="*{nickname}" id="nicknameInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="birthdateInput" class="form-label">Geburtsdatum</label>
        <input type="text" data-th-field="*{birthdate}" id="birthdateInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="hornlengthInput" class="form-label">Hornlänge</label>
        <input type="text" data-th-field="*{hornlength}" id="hornlengthInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="genderInput" class="form-label">Geschlecht</label>
        <input type="text" data-th-field="*{gender}" id="genderInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="attractedToGenderInput" class="form-label">Attracted to</label>
        <input type="text" data-th-field="*{attractedToGender}" id="attractedToGenderInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="descriptionInput" class="form-label">Beschreibung</label>
        <input type="text" data-th-field="*{description}" id="descriptionInput"
               class="form-control">
    </div>
    <div class="mb-3">
        <label for="lastseenInput" class="form-label">Last Seen</label>
        <input type="text" data-th-field="*{lastseen}" id="lastseenInput" readonly
               class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button>    <a class="text-center" href="index">Go Home</a>
</form>
</body>
</html>
