<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"
            integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css"
          integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .bubble {
            background: red;
            color: white;
            padding: 4px 12px;
            position: absolute;
            border-radius: 4px;
            left: 50%;
            top: 90%;
            transform: translateX(-50%);
        }

        .bubble::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            background: red;
            top: -1px;
            left: 50%;
        }

        body {
            margin: 2rem;
        }

        .filter {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
        }

        [id^=slider-div-] {
            display: flex;
            flex-direction: row;
        }

        [id^=slider-div-] > div {
            margin: 12px;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="navbar-brand" href="#">Date4u</a>
                <a class="nav-item nav-link" href="index">Home</a>
                <a class="nav-link nav-item" href="profile">Profile</a>
                <a class="nav-link nav-item" href="search">Search</a>
                <a th:if="anonymousUser == ${loggedIn}" class="nav-link nav-item" href="login">Login</a>
                <a th:if="anonymousUser != ${loggedIn}" class="nav-link nav-item"
                   href="javascript: document.logoutForm.submit()">Logout</a>
            </div>
        </div>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Logout"/>
        </form>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3 mt-3 mx-3">Search</h1>
    </div>
    <div id="searchForm" class="mt-4">
        <div class="filter" style="height: 3rem">
            <div class="slidecontainer  d-grid gap-2 mx-auto">
                <div id="slider-outer-div-year">
                    <div id="slider-max-label-year" class="bubble"></div>
                    <div id="slider-min-label-year" class="bubble"></div>
                    <div id="slider-div-year">
                        <div>18 Jahre</div>
                        <div>
                            <input id="year" type="text" data-slider-min="18"
                                   data-slider-max="100"
                                   data-slider-value="[18, 100]"
                                   data-slider-tooltip="hide"/>
                        </div>
                        <div>100 Jahre</div>
                    </div>
                </div>
            </div>
            <div class="slidecontainer  d-grid gap-2 mx-auto">
                <div id="slider-outer-div-cm">
                    <div id="slider-max-label-cm" class="bubble"></div>
                    <div id="slider-min-label-cm" class="bubble"></div>
                    <div id="slider-div-cm">
                        <div>0 cm</div>
                        <div>
                            <input id="cm" type="text" data-slider-min="0"
                                   data-slider-max="50" data-slider-value="[0,50]"
                                   data-slider-tooltip="hide"/>
                        </div>
                        <div>50 cm</div>
                    </div>
                </div>
            </div>
            <div class="dropdown  d-grid gap-2 mx-auto">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuGenderButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Geschlecht
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Männlich</a>
                    <a class="dropdown-item" href="#">Weiblich</a>
                    <a class="dropdown-item" href="#">Divers</a>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto mt-4">
            <button id="searchButton" type="button" style="font-size: 20px" class="btn btn-primary">Suche</button>
        </div>
    </div>
</div>
<div class="p-2"></div>
<div id="resultArea">
    <div class="container border border-4" style=" display: flex; justify-content: center; flex-wrap: wrap;">
        <div data-th-each="uni,iterationStatus : ${profile}">
            <div class="profile item rounded p-2 mx-4 my-4 bg-danger">
                <form th:action="@{'/profile/'+${uni.nickname}}">
                    <input type="image" style="width:128px; height: 128px"
                           th:src="@{'/user(nickname='+${uni.nickname}+')/profilePicture'}"
                           alt="profile-picture"/>
                    <p data-th-text="'Nick: '+${uni.nickname}">Nickname</p>
                    <p data-th-text="'Alter: '+${uni.birthdate}">Birthdate</p>
                    <p data-th-text="'Hornlänge: '+${uni.hornlength}">Hornlänge</p>
                </form>
            </div>
            <div class="break" th:if="${iterationStatus.count} % 4 ==0 ? true : false"
                 style="flex-basis: 100%;height: 0;"></div>
        </div>
    </div>
</div>
</body>
<script>
    const setLabel = (lbl, val, type) => {
        const label = $(`#slider-${lbl}-label-${type}`);
        label.text(val);
        const slider = $(`#slider-div-${type} .${lbl}-slider-handle`);
        const rect = slider[0].getBoundingClientRect();
        if (lbl === "min") {
            label.offset({
                top: rect.top + 23,
                left: rect.left - 30
            });
        } else {
            label.offset({
                top: rect.top - 35,
                left: rect.left - 30
            });
        }
    }

    const setLabels = (values, type) => {
        setLabel("min", "von: " + values[0], type);
        setLabel("max", "bis: " + values[1], type);
    }

    const action = (type) => {
        $('#' + type).slider().on('slide', function (ev) {
            setLabels(ev.value, type);
        });
        setLabels($('#' + type).attr("data-value").split(","), type);
    }
    action("cm");
    action("year");

    $(function () {
        var data = {
            startYear: 0,
            endYear: 0,
            startLength: 0,
            endLength: 0,
            gender: 0
        };
        $(".dropdown-menu").on('click', 'a', function () {
            $("#dropdownMenuGenderButton:first-child").text($(this).text());
            $("#dropdownMenuGenderButton:first-child").val($(this).text());
            //Populate the corresponding javascript object.

            var buttonText = $("#dropdownMenuGenderButton").text();
            switch (buttonText) {
                case "Männlich":
                    data.gender = 1;
                    break;
                case "Weiblich":
                    data.gender = 2;
                    break;
                default:
                    data.gender = 0;
            }
        });
        $("#searchButton").on('click', function () {
            var minMaxValues = $('#' + "year").attr("data-value").split(",");
            data.startYear = minMaxValues[0];
            data.endYear = minMaxValues[1];
            minMaxValues = $('#' + "cm").attr("data-value").split(",");
            data.startLength = minMaxValues[0];
            data.endLength = minMaxValues[1];
            console.log(data.startYear + ' : ' + data.endYear + ' : ' + data.startLength + ' : ' + data.endLength + ' : ' + data.gender + $("#dropdownMenuGenderButton").text());
            $.get("/search?startYear=" + data.startYear + "&endYear=" + data.endYear + "&startLength=" + data.startLength + "&endLength=" + data.endLength + "&gender=" + data.gender + "&firstPage=false", function (d) {
                $('#resultArea').html(d);
            });
        });

    });
</script>
</html>